services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=veluxe
      - POSTGRES_USER=veluxe
      - POSTGRES_PASSWORD=veluxe
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --worker-tmp-dir /dev/shm
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-dev-key-change-me
      - DATABASE_URL=postgres://veluxe:veluxe@db:5432/veluxe
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
